<nav>
  <section class="navBar">
    <div class="logo"><img src="imgs/catdefault.png" alt="" /></div>
    <ul class="navItems">
      <li>
        <img src="imgs/heart.png" alt="" />
        <p>Occupational</p>
      </li>
      <li>
        <img src="imgs/lightbulb.png" alt="" />
        <p>Cognitive</p>
      </li>
      <li>
        <img src="imgs/bicep.png" alt="" />
        <p>Physical</p>
      </li>
    </ul>
  </section>
</nav>
