<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/occupational-therapy.css" />
    <link rel="stylesheet" href="css/navBar.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jura:wght@300..700&family=Krona+One&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <title>Occupational Therapy</title>
  </head>
  <body>
    <%- include('partials/navBar') %>
    <div class="content">
      <header>
        <h1>Occupational Therapy</h1>
        <p>Practice your comprehension skills by completing stories.</p>
      </header>

      <main>
        <section id="gameContainer">
          <div id="gameDescription">
            <img src="imgs/bigcat.png" alt="" />

            <p>
              Let’s practice your <span>comprehension skills</span> with
              <span>fill in the blank</span> exercises! Consider the context of
              the sentence to answer each question.
            </p>
          </div>

          <div id="game-area" style="display: none">
            <div class="game-prompt">
              <img id="gamecat" src="imgs/questioncat.png" alt="" />
              <img id="sadcat" src="imgs/sadcat.png" alt="" />
              <img id="happycat" src="imgs/happycat.png" alt="" />

              <div id="prompt-background">
                <h2 id="sentence"><%= question.sentence %></h2>
              </div>
            </div>

            <div id="word-bank"></div>
          </div>

          <div id="buttonGroup">
            <button id="home-btn">Go Back Home</button>
            <button id="start-btn">Start Activity</button>
          </div>

          <div id="questionLine" style="display: none">
            <li><span id="num1" class="question-item">1</span></li>
            <li><span id="num2" class="question-item">2</span></li>
            <li><span id="num3" class="question-item">3</span></li>
            <li><span id="num4" class="question-item">4</span></li>
            <li><span id="num5" class="question-item">5</span></li>
          </div>
        </section>
      </main>
    </div>

    <script src="/js/occupational-therapy.js"></script>
  </body>
</html>
