<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/physical-therapy.css" />
    <link rel="stylesheet" href="css/navBar.css" />

    <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jura:wght@300..700&family=Krona+One&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet"
    />

    <!-- font awesone icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <title>Physical Therapy</title>

    <script src="js/physical-therapy.js" defer></script>
  </head>
  <body>
    <%- include('partials/navBar') %>

    <div id="content">
      <header>
        <h1>Physical Therapy</h1>
        <p>Follow on with our exercise videos to strengthen your mobility.</p>
      </header>
      
      <main>
      
        <div id="container">
          <section id="physical-types">
            <article class="type" id="purple1">
              <img class="icon" src="imgs/bicep-physical.png" alt="Purple bicep.">

              <div class="text">
                <h2>Shoulder, Arm, and Hand Exercises</h2>
                <p>Improve strength, range of motion, and fine motor skills with these targeted exercises.</p>
              </div>

              <button id="purple1-button"><p>Start</p><i class="fas fa-arrow-right"></i></button>
             
            </article>

            <article class="type" id="purple2">
              <img class="icon" src="imgs/leg-physical.png" alt="Purple leg.">

              <div class="text">
                <h2>Leg, Ankle, and Foot Exercises</h2>
                <p>Improve strength, mobility, and control for better walking and movement.</p>
              </div>

              <button id="purple2-button"><p>Start</p><i class="fas fa-arrow-right"></i></button>
             
            </article>

            <article class="type" id="purple3">
              <img class="icon" src="imgs/balance-physical.png" alt="Purple leg.">

              <div class="text">
                <h2>Balance and Stability Exercises</h2>
                <p>Improve weight shifting, stability, and coordination for better balance.</p>
              </div>

              <button id="purple3-button"><p>Start</p><i class="fas fa-arrow-right"></i></button>
             
            </article>
            
          </section>

          <div id="videos">
            <section id="main-video">
              <iframe
              width="600"
              height="323"
              src="https://www.youtube.com/embed/gqBHIX-2xHY?list=PLrDeLRAEJG0ZbA7P-q2h5gQZEFA611PUN"
              frameborder="0"
              allowfullscreen
              ></iframe>
    
              <div id="main-video-text">
                <div id="main-video-title">
                  <h2>Crumbling a Piece of Paper - Exercise 1</h2>
                  <p>Created by American Heart Association | 1 minute and 18 seconds</p>
                </div>
                
                <p>Do this exercise to strengthen your shoulder muscles. It also works on the fine motor skills of your hand. Use both hands equally.</p>
              </div>
              
            </section>
    
            <section id="playlist">
                <h2>Shoulder, Arm, Hand Exercises - Part 1</h2>
                <p>Post-stroke exercises created by the American Heart Association.</p>

                <div id="video-list">
                  <article class="video-preview">
                    <iframe
                    width="184"
                    height="103"
                    src="https://www.youtube.com/embed/gqBHIX-2xHY?list=PLrDeLRAEJG0ZbA7P-q2h5gQZEFA611PUN"
                    frameborder="0"
                    allowfullscreen
                    ></iframe>
  
                    <div class="captions">
                      <div class="titles">
                        <h3>Crumbling a Piece of Paper – Exercise 1</h3>
                        <h4>American Heart Association</h4>
                      </div>
  
                      <p>1 Minute and 18 Seconds</p>
                    </div>
                  </article>

                  <article class="video-preview">
                    <iframe
                    width="184"
                    height="103"
                    src="https://www.youtube.com/embed/?v=rcS-_UI8YPo&list=PLrDeLRAEJG0ZbA7P-q2h5gQZEFA611PUN&index=22"
                    frameborder="0"
                    allowfullscreen
                    ></iframe>
  
                    <div class="captions">
                      <div class="titles">
                        <h3>Shoulder Range of Motion – Exercise 2</h3>
                        <h4>American Heart Association</h4>
                      </div>
  
                      <p>2 Minute and 45 Seconds</p>
                    </div>
                  </article>

                  <article class="video-preview">
                    <iframe
                    width="184"
                    height="103"
                    src="https://www.youtube.com/embed/?v=dekQnnbLyus&list=PLrDeLRAEJG0ZbA7P-q2h5gQZEFA611PUN&index=7"
                    frameborder="0"
                    allowfullscreen
                    ></iframe>
  
                    <div class="captions">
                      <div class="titles">
                        <h3>Sitting Trunk Rotations – Exercise 3</h3>
                        <h4>American Heart Association</h4>
                      </div>
  
                      <p>3 Minutes and 10 Seconds</p>
                    </div>
                  </article>

                  <article class="video-preview">
                    <iframe
                    width="184"
                    height="103"
                    src="https://www.youtube.com/embed/?v=BVDOcQJ-1v8&t=1s"
                    frameborder="0"
                    allowfullscreen
                    ></iframe>
  
                    <div class="captions">
                      <div class="titles">
                        <h3>Horizontal Range of Motion – Exercise 4</h3>
                        <h4>American Heart Association</h4>
                      </div>
  
                      <p>1 Minute</p>
                    </div>
                  </article>
                </div>  
            </section>
          </div>
          

          

          <section id="cat-tip">
            <img src="imgs/catdefault.png" width="214" height="204" alt="Content calico cat.">

            <p>Watch these helpful videos by the <span>American Heart Association</span> and follow along with the <span>physical exercises</span>. You can do it!</p>
          </section>
        </div>
      

      </main>

    </div>
    
    

      
  </body>
</html>
