body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: #eff3f7;
  color: #414141;
}

.content {
  display: flex;
  flex-direction: column;

  /* border: 1px solid black; */
}

header {
  margin-top: 52px;
}

h1 {
  margin: 0;
  color: #333;
  font-family: "DM Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 48px */
  letter-spacing: -0.704px;
}

header p {
  margin: 0;
  color: var(--Text, #333);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  letter-spacing: -0.352px;
}

main {
  display: flex;
  justify-content: center;
  width: 1337px;
  height: 809px;
  flex-shrink: 0;

  border-radius: 10px;
  border: 1px solid #d7d7d7;
  background: #fff;
}

#gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 542px;
}

#gameContainer img {
  width: 214px;
  height: 204px;
}

#gameDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gameDescription p {
  margin: 24px 0px 0px 0px;
  color: #333;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  letter-spacing: -0.528px;

  /* border: 1px solid black; */
}

#gameDescription span {
  color: #249f7a;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.528px;
}

#buttonGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

button {
  display: flex;
  padding: 6px 36px;
  align-items: center;
  gap: 7px;
  border-radius: 5px;
  background: #d7d7d7;
  border: none;

  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  letter-spacing: -0.396px;
}

#start-btn {
  background: #249f7a;
  color: #ffffff;
  cursor: pointer;
}

#home-btn {
  cursor: pointer;
}

#submit-btn {
  cursor: pointer;
}

#game-area {
  display: flex;
  flex-direction: column;
}

.game-prompt {
  display: flex;
  gap: 53px;
}

.game-prompt img {
  margin-top: 20px;
  width: 227px;
  height: 230px;
}

#sadcat,
#happycat {
  display: none;
  width: 227px;
  height: 230px;
  object-fit: contain;
}

#prompt-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 943.5px;
  background-image: url("../imgs/vectorbackground.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#prompt-background h2 {
  width: 672px;

  color: #333;
  font-family: "DM Sans";
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 39px */
  letter-spacing: -0.572px;
}

#word-bank h2 {
  margin: 0;
  color: #333;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
  letter-spacing: -0.44px;
}

#word-bank {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 30px 20px;
  gap: 128px;

  border-radius: 10px;
  border: 1px solid #d7d7d7;
  background: #fff;
}

.answers {
  display: flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 5px;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;
}

.blank {
  display: inline-block;
  width: 160px;
  height: 50px;
  border: 2px dashed #000; /* Makes blank area visible */
  padding: 5px;
  margin: 5px;
  vertical-align: middle;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
}

#questionLine {
  display: flex;
  margin-top: 58.75px;
  width: 611px;
  height: 65px;
  gap: 70px;
}

#questionLine li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  font-family: "DM Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 45px */
  letter-spacing: -0.66px;
}

#questionLine li span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 66px;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 50%;

  color: #333333;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  letter-spacing: -0.528px;
}

.question-item.highlighted {
  color: #ffffff;
  background-color: #249f7a;
}
