body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: #eff3f7;
  font-family: "DM Sans", sans-serif;
  color: #414141;
}

h3, h4{
  margin: 0;
}

h4{
  font-weight: 200;
}

#content{
  display: flex;
  flex-direction: column;
  padding-right: 25px;
}

#container{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#videos{
  display: none;
  gap: 25px;
}

#main-video{
  background-color: #EFF3F7;
  border-radius: 10px;
  padding: 20px;
  width: 600px;
}

#main-video-text{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#main-video-text p{
  margin: 0;
}

#main-video-title p{
  font-weight: 300;
}

#playlist{
  background-color: #EFF3F7;
  border-radius: 10px;
  padding: 20px;
}

#video-list{
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 380px;
  overflow: scroll;
}

.video-preview{
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  gap: 12px;
}

.captions{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.captions p{
  margin-bottom: 0;
}


iframe{
  border-radius: 10px;
}

span{
  color: #7B69B7;
  font-weight: 700;
}

#cat-tip{
  display: flex;
  justify-content: center;
  gap: 42px;
}

#cat-tip p{
  font-size: 28px;
  width: 830px;
  height: 130px;
  background-image: url(../imgs/purpletextbox.png);
  background-repeat: no-repeat;
  padding: 40px 0px 0px 80px;
  
}

#physical-types{
  display: flex;
  gap: 25px;
  background-color: #eff3f7;
  padding: 50px;
  border-radius: 10px;
}

.type{
  border-radius: 10px;
  border: red solid 2px;
  flex: 1;
  background-color: white;
  padding: 25px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.type h2, .type p{
  margin: 0;
}

.text{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.icon{
  width: 60px;
  height: auto;
}

button{
  display: flex;
  gap: 24px;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  color: #414141;
  width: fit-content;
  padding: 6px 36px;
  align-items: center;
  border-radius: 5px;
  border: none;
}

button:hover{
  cursor: pointer;
}

#purple1{
  border: 3px solid #BA8BDB;
}

#purple2{
  border: 3px solid #946FE1;
}

#purple3{
  border: 3px solid #505691;
}

#purple1-button{
  background-color: #BA8BDB;
  color: white;
}

#purple2-button{
  background-color: #946FE1;
  color: white;
}

#purple3-button{
  background-color: #505691;
  color: white;
}